/* from https: //alligator.io/css/collapsible/ */

.wrap-collabsible {
    margin-bottom: 1.2rem;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    background: #1D828D;

    cursor: pointer;

    transition: all 0.25s ease-out;
    width: -webkit-fill-available;
    left: 0;
    
    border: 1px;
    border-style: solid;
    border-color: white;
}

.lbl-toggle:hover {
    color: #FFFFFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    background: #73d7e2;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
    overflow: visible;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    padding: inherit;
    padding-left: 1rem;
}
